$primary-color: #fe5f1e;

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

:global {
  .rc-pagination {
    &-item {
      font-size: 18px;
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid $primary-color;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;

      a {
        color: $primary-color;
      }

      .rc-pagination-item-active a {
        color: #fff;
      }

      &:hover,
      &:focus {
        border-color: $primary-color;
        background-color: $primary-color;
        a {
          color: #fff;
        }
      }

      &-active {
        border-color: $primary-color;
        background-color: $primary-color;
        a {
          color: #fff;
        }
      }
    }

    .rc-pagination-prev .rc-pagination-item-link,
    .rc-pagination-next .rc-pagination-item-link {
      font-size: 28px;
      text-align: center;
      width: 45px;
      line-height: 41px;
      height: 45px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      cursor: pointer;
      display: inline-block;
      color: $primary-color;
    }

    &-prev,
    &-next {
      &:focus .rc-pagination-item-link,
      &:hover .rc-pagination-item-link {
        color: $primary-color;
        border-color: $primary-color;
        border-radius: 30px;
        font-size: 28px;
        color: #fff;
        background-color: $primary-color;
      }
    }

    &-disabled {
      &,
      &:hover,
      &:focus {
        .rc-pagination-item-link {
          color: #d9d9d9;
          background-color: #fff;
          border-color: #d9d9d9;
          cursor: not-allowed;
        }
      }
    }
  }
}
